.signup {
  width: 100vw;
  margin: 0 auto;
  
  &-body {
    margin-top: 3rem;
    padding: 2rem 4rem;
    background-color: white;
  
    .signup-block {      
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 25rem;
      height: 7rem;
      padding: 0.5rem;
      font-size: 1.3rem;

      &__input {
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 1.3rem;
      }    

      &__button-registrate {
        width: 15rem;
        height: 3rem;
        background-color: white;
        border-radius: 0.3rem;
        font-size: 1.3rem;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
      }

      &__link-login {
        padding-top: 1rem;          
        font-size: 2rem;
        font-weight: 300;
        text-align: end;
        color: black;
        text-decoration: none;
      }       
    }    
  }
}


