.signin {
  width: 100vw;
  margin: 0 auto;

  &-header__title {
    padding: 0 2rem;
    align-self: center;  
  }
  
  &-body {
    margin-top: 3rem;
    padding: 2rem 4rem;
    background-color: white;
  
    .signin-block {      
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 25rem;
      height: 7rem;
      padding: 0.5rem;
      font-size: 1.3rem;

      &__input-name {
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 1.3rem;
      }

      &__input-password {
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 1.3rem;
      }

      &__button-login {        
        width: 15rem;
        height: 3.5rem;
        background-color: white;
        border-radius: 0.3rem;
        font-size: 1.3rem;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
      }

      &__link-registrate {
        padding-top: 1rem;          
        font-size: 2rem;
        font-weight: 300;
        text-align: end;
        color: black;
        text-decoration: none;
      }        
    }    
  }
}


