.appointment {
  width: 100vw;
  margin: 0 auto;

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

    &-header__button {
      background-color: white;
      padding: 0.5rem 2.7rem;
      font-size: 1.5rem;
    }  
      
    &-table {
      width: 90%;
      display: flex;
      align-items: center;    
      flex-direction: column;
      font-size: 1.2rem;       
      width: 95%;
      border-collapse: collapse;
      align-items: center;
      border: 0.1rem solid black;    
    
      &__head {
        width: 100%;      
        background-color: #C4C4C4;
        height: 3.4rem;
      }  
    
      &__list {
        width: 100%;
        border: 0.1rem solid black;
        background-color: aliceblue;   
      }
    
      &__line {
        display: flex;
        justify-content: space-around;
      }
    
      &__icons {
        width: 15%;
        display: flex;
        justify-content: space-around;
      }
    } 
  }

