.modal-edit {  
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal-edit.active {
  opacity: 1;
  pointer-events: all;    
}

.modal-edit-block {  
  padding: 0;
  border-radius: 0.5rem;
  background-color: white;  
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_header {    
    margin: 0;
    width: 10rem;    
    width: 91%;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem 1rem 2rem;    
  }

  &_input {
    margin: 2rem 2rem 0.5rem 2rem;        
    display: flex;
    flex-direction: column;

    &__text {
      height: 3rem;
      font-size: 1.2rem;
    }

    &__textarea {
      display: flex;
      text-align: start;            
      height: 8rem;
      margin-bottom: 3rem;
      font-size: 1.2rem;
    } 
  }

  &_select {
    margin: 2rem 2rem 0.5rem 2rem;        
    display: flex;
    flex-direction: column;

    &__doctors {
      height: 3rem;
      font-size: 1.2rem;
    }
  }
    
  &_buttons {
    display: flex;
    justify-content: end;    
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    box-shadow: 0 0 0.9rem 0.3rem rgba(0, 0, 0, 0.25);
    
    &__cancel {
      background: white;
      margin: 0 0.3rem;
      padding: 0.5rem 2rem;
      font-size: 1.3rem;
      border: solid 0.1rem gray;
      border-radius: 0.3rem;  
    }

    &__edit {
      background: #C5E9FFB8;
      margin: 0 0.3rem;
      padding: 0.5rem 2rem;
      font-size: 1.3rem;
      border: solid 0.1rem gray;
      border-radius: 0.3rem;  
    }    
  }
}