.header-form {
  display: flex;
  justify-content: flex-start;    
  height: 10vh;
  box-shadow: 0rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25); 
  .header-title {
    padding: 0 2rem;
    align-self: center;
  } 
}