@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.body-form {    
  display: flex;
  width: 100%;
  justify-content: space-evenly; 
}

.icons {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
