.signUp-container{
  width: 80vw;
  margin: 0 auto;  
}
.signUp-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25rem;
  height: 28,3125rem;
  padding: 2rem;  

  input{    
    height: 2.5rem;
    margin-bottom: 10%;    
  }

  button{
    width: 100%;
    align-self: end;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border: solid 0.5px gray;
  }

  a{    
    font-size: 30px;
    align-self: end;
    text-decoration: none;
  }
  .signUp-form-form{
    display: flex;
    flex-direction: column;
    label{
      align-self: flex-start;
    }
  }  
}